<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top"
     th:fragment="navigation"
     xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div class="container">
        <a class="navbar-brand" th:href="@{'/'}">Web Notebook </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-arget="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto" th:if="!${#request.userPrincipal}">
                <li class="nav-item" th:if="!${#request.userPrincipal}">
                    <a class="nav-link" th:href="@{'/login'}">Zaloguj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/registration'}">Zarejestruj się</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto" th:if="${#request.userPrincipal}">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/user/profile'}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/logout'}">Wyloguj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/jobsList/home'}">Listy zadań</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/job/home'}">Zadania</a>
                </li>
            </ul>
        </div>
    </div>
</nav>