<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista zadań - szczegóły</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                                <small class="text-muted" >Nazwa: </small><small th:text="${jobsList.name}">name</small>
                            </li>
                            <li class="mb-1">
                                <small class="text-muted" >Utworzono: </small><small th:text="${jobsList.created}">created</small>
                            </li>
                            <li class="mb-1">
                                <small class="text-muted" >Edytowano: </small> <small th:text="${jobsList.edited}">edited</small>
                            </li>
                            <li class="mb-1">
                                 <small class="text-muted" >Użytkownik: </small><a th:href="@{'/user/profile/'}"><small th:text="${jobsList.owner.name}">owner.name</small></a>
                            </li>
                        </ul>
                        <a class="btn btn-sm btn-secondary" th:href="@{'/jobsList/edit/' + ${jobsList.id}}">
                            Edytuj
                        </a>
                        <a class="btn btn-sm btn-secondary" th:href="@{'/jobsList/delete/' + ${jobsList.id}}">
                            Usuń
                        </a>
                        <a class="btn btn-sm btn-secondary" th:href="@{'/job/new/' + ${jobsList.id}}">
                            Dodaj
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xl-9">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Lista zadań</h5>
                    </div>

                    <div class="card-body h-100" th:each="job : ${jobsList.jobsList}">
                        <div class="media">
                            <div class="media-body">
                                <a th:href="@{'/job/edit/' + ${job.id}}"><strong th:inline="text">[[${job.title}]]</strong> </a><br>
                                <small class="text-muted">Utworzono: </small>
                                <small class="text-muted"
                                       th:text="${job.created}">created</small>
                                <div class="border text-sm text-muted p-2 mt-1" th:text="${job.content}">
                                    content
                                </div>
                                <small class="float-right text-navy"
                                        th:text="${job.edited}"> edited</small><small class="float-right text-navy">Edytowano: </small>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
</html>