<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista zadań - edycja</title>
</head>
<body>
<div layout:fragment="content">
    <div align="center">
        <h1>Aktualizuj dane listy</h1>
        <br/>
        <form action="#" th:action="@{/jobsList/saveUpdate}" th:object="${jobsList}" method="POST">
            <table border="0" cellpadding="10">
                <tr>
                    <td>Id:</td>
                    <td>
                        <input type="text" th:field="*{id}" readonly="readonly"/>
                    </td>
                </tr>
                <tr>
                    <td>Nazwa:</td>
                    <td>
                        <input type="text" th:field="*{name}"/>
                    </td>
                </tr>
                <tr>
                    <td>Utworzono:</td>
                    <td>
                        <input type="text" th:field="*{created}" readonly="readonly"/>
                    </td>
                </tr>
                <tr>
                    <td>Edytowano:</td>
                    <td>
                        <input type="text" th:field="*{edited}" readonly="readonly"/>
                    </td>
                </tr>
                <td colspan="2">
                    <button type="submit">Zapisz</button>
                </td>
                </tr>
            </table>
            <span th:field="${jobsList.created}"/>
            <span th:field="${jobsList.edited}"/>
        </form>
    </div>
</div>
</body>
</html>