<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="pl">
<div layout:fragment="content" class="d-flex justify-content-center align-items-
center" style="height: 100vh;">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-
center">401</h1>
    <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead">
            Niejesteś upoważniony do przeglądania tej zawartości.Kliknij <a href="/jobsList/home">tutaj</a>, aby wrócić do listy.
        </h2>
    </div>
</div>
</html>