<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layouts/main_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Web Notebook</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center mt-3">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
        velit..</h1>
    Vestibulum pellentesque ante sed libero molestie tincidunt. In non massa ac tortor molestie pulvinar. Integer
    cursus, ex eu gravida maximus, magna erat tempus urna, non consectetur nisi velit a augue. Maecenas volutpat
    fringilla odio eget dictum. Vivamus non turpis lacinia, blandit metus ut, scelerisque lectus. Lorem ipsum dolor sit
    amet, consectetur adipiscing elit. Donec a dictum sapien. Praesent blandit lorem ipsum, at tincidunt lectus sagittis
    at. Fusce congue mauris in cursus placerat. Fusce vitae luctus sapien. Aenean neque lorem, sagittis rhoncus accumsan
    semper, bibendum ut urna. Sed vulputate scelerisque magna, ac commodo risus posuere at. Praesent eget aliquam
    libero.
</div>

</body>
</html>